# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.env*
.venv/
venv/
env/
scratch/

# Pytest
.pytest_cache/

# Logs
*.log

# Type checking
.mypy_cache/

# IDEs
.idea/
.vscode/

# SQLite
*.sqlite3
*.sqlite
*.db

# Backups
docs/backup/


