# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/
env/

# Pytest
.pytest_cache/

# Logs
*.log

# Type checking
.mypy_cache/

# IDEs
.idea/
.vscode/

# SQLite
*.sqlite3
